name: Release Check

on:
  push:
    branches:
      - main
    paths:  
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - "CHANGELOG.md"

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Check Commits
        id: release
        uses: googleapis/release-please-action@v4
        with:
          # token: ${{ secrets.RELEASE_TOKEN }}
          release-type: go

      - name: Checkout Code 
        if: steps.release.outputs.prs_created == 'true'
        uses: actions/checkout@v6

      - name: Merge Pull Request
        if: steps.release.outputs.prs_created == 'true'
        id: merge
        run: gh pr merge --merge --auto "${{ fromJSON(steps.release.outputs.pr || '{}').number }}" 
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}