name: Run Tests
run-name: "Test PR #${{ github.event.pull_request.number }} - ${{ github.event.pull_request.title }}"

on:
  pull_request:
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest 

    steps:
    - name: Checkout Code
      uses: actions/checkout@v6 

    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
        check-latest: true

    - name: Setup gotestfmt
      run: |
        go install github.com/boumenot/gocover-cobertura@latest
        go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@latest

    - name: Run Tests
      run: |
        go test -race -json -coverprofile=coverage.txt -v ./... 2>&1 | tee /tmp/gotest.log | gotestfmt -hide all

    - name: Convert go coverage to cobertura format
      shell: bash
      run: |
        gocover-cobertura \
          -ignore-dirs '/generator$' \
          -ignore-dirs '^/tools' \
          < coverage.txt > coverage.xml

    - name: Generate code coverage report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: coverage.xml
        badge: false
        fail_below_min: false
        format: markdown
        hide_branch_rate: false
        hide_complexity: true
        indicators: true
        output: both
        thresholds: '50 70'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        header: test
        recreate: true
        path: code-coverage-results.md